body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  color:#555; /* Text color */
  padding: 6px 8px; /* Padding inside the box */
  font: 12px Arial, Helvetica, sans-serif; /* Font and font size */
  font-weight: bold; /* Bold text */
  background: white; /* Background color */
  background: rgba(255,255,255,0.8); /* Background color with opacity */
  box-shadow: 0 0 15px rgba(0,0,0,0.2); /* Box shadow for a subtle effect */
  border-radius: 5px; /* Border radius for rounded corners */
}